.dashNavigate{
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ecedf2;
    border-radius: 5px;
    box-shadow: 0 6px 15px rgba(64,79,104,.05);
    height: 130px;   
    margin-bottom: 30px;
    padding: 30px;
    position: relative;
    width: 100%;
}
.dashNavigate h4{
    margin-left: 40px;   
}
.profilInfos{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: inherit;
    border-bottom: 1px solid grey;
}
.cvIcon{
    cursor: pointer;
}
